@model TransportMarka

<div class="row">
    <div class="col-8">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Marka</h5>
                
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3 form-group">
                        <label asp-for="MarkaName" class="form-label">Marka Name</label>
                        <input asp-for="MarkaName" class="form-control"/>
                    </div>

                    <div  class="mb-3 form-group my-2">
                        <label class="form-label">Main</label>
                        <input id="check" asp-for="IsMain" type="checkbox" />
                    </div>

                    <div id="MarkaBox" class="form-group my-3">
                        <label>Select Main Marka</label>
                        <select class="form-control" name="markaId">
                            @foreach (TransportMarka marka in ViewBag.ParentMarka)
                            {
                                <option value="@marka.Id">@marka.MarkaName</option>
                            }
                        </select>
                    </div>

                    <button type="submit" class="btn btn-success">Submit</button>
                    <a asp-action="Index" class="btn btn-secondary">Go Back</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script asp-append-version="true">
        if ($("#check").prop('checked')) {

            $("#MarkaBox").addClass("d-none")
        }
        else {

            $("#MarkaBox").removeClass("d-none")
        }

        $(document).on("change", "#check", function () {
            if ($("#check").prop('checked')) {
                $("#MarkaBox").addClass("d-none")
            }
            else {
                $("#MarkaBox").removeClass("d-none")
            }
        });
    </script>
}