@model Car

<div class="row">
    <div class="col-8">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Car</h5>

            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">

                    <div class="mb-3 form-group">
                        <label asp-for="Photos" class="form-label">Photos</label>
                        <input asp-for="Photos" accept="image/*" class="form-control" />
                        <span class="text-danger" ></span>
                    </div>

                    <div class="form-group">
                        <label>Select Marka</label>
                        <select class="form-control" name="markaId">
                            @foreach (Marka marka in ViewBag.Markas)
                            {
                                <option value="@marka.Id">@marka.MarkaName</option>
                            }
                        </select>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="Name" class="form-label">Name</label>
                        <input asp-for="Name" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Select Ban</label>
                        <select class="form-control" name="banId">
                            @foreach (Ban ban in ViewBag.Bans)
                            {
                                <option value="@ban.Id">@ban.Name</option>
                            }
                        </select>
                    </div>

                  

                    <div class="row g-2 my-2">
                        <div class="col-6 form-group">
                            <label asp-for="Automathic">Authomatic</label>
                            <input type="radio" value="true" asp-for="Automathic" />

                            <label asp-for="Automathic">Mechanic</label>
                            <input type="radio" value="false" asp-for="Automathic" />
                        </div>

                        <div class="col-6 form-group">
                            <label asp-for="Benzin">Benzin</label>
                            <input type="radio" value="true" asp-for="Benzin" />

                            <label asp-for="Benzin">Diesel</label>
                            <input type="radio" value="false" asp-for="Benzin" />
                        </div>
                    </div>

                    <div class="row g-2">

                        <div class="col-3 form-group">
                            <label asp-for="Year" class="form-label">Year</label>
                            <input asp-for="Year" min="1990" class="form-control" />
                        </div>

                        <div class="col-3 form-group" style="margin: 5px 20px;">
                            <label asp-for="KM" class="form-label">KM</label>
                            <input asp-for="KM" type="number" min="0" class="form-control" />
                        </div>

                        <div class="col-3 form-group">
                            <label asp-for="Price" class="form-label">Day Price</label>
                            <input asp-for="Price" type="number" min="1" class="form-control" />
                        </div>

                    </div>

                    <div class="form-group">
                        <label asp-for="Featured" class="form-label">Featured ?</label>
                        <input asp-for="Featured" type="checkbox" />
                    </div>

                    <div class="mb-3 form-group">
                        <label class="form-label">Description</label>
                        <textarea asp-for="CarDetail.Description" class="form-control"></textarea>
                    </div>

                    <button type="submit" class="btn btn-success">Submit</button>
                    <a asp-action="Index" class="btn btn-secondary">Go Back</a>
                </form>
            </div>
        </div>
    </div>
</div>
